h1{
    background: rgb(80, 80, 204);
    margin: 40px ;
    padding: 40px ;
}


div{
    text-align: center;
}
body{
    background: rgb(105, 198, 245);
    
}


.yun{
    color: rgb(245, 239, 239);
    font-size: 20px; 
}
.h1{
    background-color: white;
}

